.link {
  color: #fff;
  border-radius: 2px;
  margin-right: .3rem;
  margin-bottom: .4rem;

  &--big-btn {
    background-color: $color-primary;
    padding: .3rem 1rem;
    cursor: pointer;
    font-size: 1.2rem;

    &:hover {
      background-color: $color-primary-dark-4;
    }
  }

  &--disable {
    background-color: $color-grey-light-2;
  }

  &-icon {
    padding-left: 1rem;
  }
}

.content-input {
  display: flex;
}
