.title-bar {
  background-color: $color-grey-light-7;
  border-top: 3px solid silver;
  border-bottom: 1px solid silver;
  font-weight: bold;
  font-size: 1.6rem;
  padding: .8rem 1rem;
  color: #999;
}
