.toolbar {
  display: flex;
  gap: .8rem;
  align-items: center;
  padding: .6rem;

  &-divider {
    display: inline;
    border-left: 1px solid $color-grey-light-4;
  }

  &-button {
    &:not(:has(.btn, .btn-container)) {
      display: none;
    }
  }

  &-filter {
    display: grid;
    grid-template-columns: max-content 17.5rem;
    align-items: center;
    gap: 0.2rem;
    height: 3rem;
  }
}
