*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //convert 1 rem equals 10px
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 400;
  color: $color-grey-dark-2;
  height: 100vh;
}

span {
  pointer-events: none;
}
