.w-200 {
  width: 200% !important;
}

.scrolling {
  transition: initial !important;
  user-select: none !important;
  pointer-events: none !important;
}

.cursor-resize {
  cursor: col-resize !important;
}

.hidden {
  display: none!important;
}

.justify-self {
  &__center {
    justify-self: center !important;
  }

  &__end {
    justify-self: end !important;
  }
}

.bold {
  font-weight: bold;
}

.pointer-events {
  &__none {
    pointer-events: none !important;
  }
}
