// COLORS
$color-primary: #0086ac;
$color-primary-light-1: #93d3ff;
$color-primary-light-2: #e8f0fe;
$color-primary-light-3: #94b6d1;
$color-primary-dark-1: #0067ac;
$color-primary-dark-2: #0069af;
$color-primary-dark-3: #3591d3;
$color-primary-dark-4: #016683;
$color-primary-dark-5: #0000ee;

$color-grey-light-1: #f4f3f0;
$color-grey-light-2: #c1c1c1;
$color-grey-light-3: #c3c2c0;
$color-grey-light-4: #e1e1e1;
$color-grey-light-5: #c0c0c0;
$color-grey-light-6: #f8f8f8;
$color-grey-light-7: #efefef;

$color-grey-dark-1: #505050;
$color-grey-dark-2: #333a3f;
$color-grey-dark-3: #b1b1b1;
$color-grey-dark-4: #363636;

$color-white: #fff;

// FONT
$default-font-size: 1.3rem;

//Images Path
$assets-path: "../../../../../assets";
