<div class="input-container">
  <label for="{{id}}"
         class="input-label {{required && EditMode?'input-label__required':''}} {{alignClass}}">
    {{ label }}
  </label>
  <input
    *ngIf="EditMode else readMode"
    type="password"
    class="input-content"
    name="{{id}}"
    id="{{id}}"
    [(ngModel)]="value"/>

  <ng-template #readMode>
    <div>
      <a *ngIf="isLink" (click)="doAction()">************</a>
      <span *ngIf="!isLink">************</span>
    </div>
  </ng-template>
</div>
